<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, user-scalable=no">
    <title>Roshan Timing</title>
    <link rel="icon" type="image/ico" href="/static/Roshan.ico">
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
<!-- TIMER -->
    <p class="timer prevent-select" >{{ timer }}</p>


<!-- CHAT(INPUT) -->
    <div style="margin-top: 350px;">
        <div class="chat-text">(Allies):</div>
        <div class="chat-text-end">▲  ▼</div>
        <div class="chat-text-image"><img src="/static/dotachat.png" width="23" height="21" ></div>
        <div class="chat-text-square"></div>
        <div class="chat-text-ques">?</div>
        <div><center><input type="text" class="chat-input" name="username" required></center></div>
<!--      <input type="submit" id="btn" value="enter">-->
    </div>
<!--   <center><img src="/static/chat.png" width="808" height="45" ></center>-->

<!-- RESULT -->
<!--    <div class="result">-->
<!--        Result : <input type="text" id="data" >-->
<!--    </div>-->

<!-- created by dankYbat -->
  <div class="about_right">
    <div class="text_wrap">
      <p class="prevent-select">created by dankYoff</p>
    </div>
    <div class="img-profile">
      <a href="https://github.com/dankYoff" target="_blank"><img src="/static/github.svg" width="50"></a>
    </div>

  </div>

</body>
</html>
