<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Roshan Timing</title>
    <script src="eel.js"></script>
    <link rel="icon" type="image/ico" href="Roshan.ico">
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
</head>

<body>
<!-- TIMER -->
<!--  <p class="timer">Timer</p>-->



<!-- CHAT(INPUT) -->



<!-- created by dankYbat -->
  <div class="about_right">
    <div class="text_wrap">
      <p class="prevent-select">created by dankYoff</p>
    </div>
    <div class="image_wrap">
      <a href="https://github.com/dankYoff" target="_blank"><img src="github.svg" width="50"></a>
    </div>

  </div>

</body>
</html>
