<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Roshan Timing</title>
    <link rel="icon" type="image/ico" href="/static/Roshan.ico">
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
<!-- TIMER -->
    <p class="timer">{{ timer }}</p>


<!-- CHAT(INPUT) -->
    <div class="chat">
      <label for="username">Chat:</label>
      <input type="text" id="username" name="username" placeholder="Allies" required>
    </div>


<!-- created by dankYbat -->
  <div class="about_right">
    <div class="text_wrap">
      <p class="prevent-select">created by dankYoff</p>
    </div>
    <div class="img-profile">
      <a href="https://github.com/dankYoff" target="_blank"><img src="/static/github.svg" width="50"></a>
    </div>

  </div>

</body>
</html>
